.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 22px;
}

.text-red {
  color: red;
}

.center{

  text-align: center;

}
.start {

  text-align: start;

}
.end{
  text-align: end;
}